a:focus {
    outline: 0.3rem dotted $clr-dark-blue;
    outline-offset: 0.3rem;
}
//a:active {
//    outline: 0.3rem dotted $clr-dark-blue;
//
//}
//DEFAULT BUTTON STYLES
.btn {
    text-transform: uppercase;
    font-family: $second-font;
    font-size: 1.6rem;
    line-height: 1.6rem;
    font-weight: 800;
    color: white;
    padding: 2.0rem 3.0rem 2.0rem 3.0rem;
    border: 0.2rem solid $clr-light-blue;
    background-color: rgba(0,0,0,0);
    transition: background 0.3s, border 0.3s;
    cursor: pointer;
    
}
.btn:hover {
    background-color: $clr-orange;
    border: 0.2rem solid rgb(0,0,0);
    color: rgb(0,0,0);
}
.btn:focus {
    outline: 0.3rem dotted $clr-dark-blue;
    outline-offset: 0.1rem;
}
.btn:active {
    outline: none;
    background-color: $clr-orange;
}
.l-btn {
    margin-right: 1.5rem;
}

//SOCIAL BUTTONS STYLES
.btn-social {
    position: relative;
    display: inline-block;
    color: red;
}
.btn-social:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: inline-block;
}
.btn-social object {
    height: 2.8rem;
}
.btn-social object path {
    fill: currentColor;
}
.l-btn-wrap {
    margin: 1.5rem;
    height: 2.8rem;
}