* {
    box-sizing: border-box;
}
.logo__wrapper {
    animation-name: wrapper;
    animation-duration: 1.3s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    transform: skewY(15deg);
    width: 85%;
    
}
@keyframes wrapper {
    100%{ width: 70%}
}
.logo__ratio {
    padding-top: 75%;
    position: relative;
    width: 100%;
}
.logo__inner {
    position:  absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows:  1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
@mixin logo__pixel {
    
}
.logo__pixel--a {
    
    @include logo__pixel;
    
    animation-name: pixel--a;
    animation-delay: 0.3s;
    animation-duration: 1.2s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    background-color: rgba(0,0,0,0);
    margin: 0;
    
}
@keyframes pixel--a {
    25% {background-color: $clr-dark-blue; margin: 35%;}
    50% {background-color: $clr-light-blue; margin: 10%;}
    75% {background-color: $clr-dark-blue; margin: 40%;}
    100% {background-color: $clr-light-blue; margin: 0;}
}

.logo__pixel--m {
    
    @inclide logo__pixel;
    
    animation-name: pixel--m;
    animation-delay: 0.1s;
    animation-duration: 1.3s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    background-color: rgba(0,0,0,0);
    margin: 0;
    
}
@keyframes pixel--m {
    25% {background-color: $clr-light-blue; margin: 35%;}
    50% {background-color: $clr-dark-blue; margin: 10%;}
    75% {background-color: $clr-light-blue; margin: 40%}
    100% {background-color: $clr-dark-blue; margin: 0;}
}

.logo__pixel--b {
    
    @include logo__pixel;
    
    animation-name: pixel--b;
    animation-delay: 0.2s;
    animation-duration: 1.4s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    background-color: rgba(0,0,0,0);
    margin: 0;
    
}
@keyframes pixel--b {
    25% {background-color: $clr-dark-blue; margin: 35%;}
    50% {background-color: $clr-light-blue; margin: 10%;}
    75% {background-color: $clr-dark-blue; margin: 40%}
    100% {background-color: $clr-light-blue; margin: 0;}
}
.logo__pixel--z {
    
    @include logo__pixel;
    
    animation-name: pixel--z;
    animation-delay: 0.4s;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    background-color: rgba(0,0,0,0);
    margin: 0;
    
}
@keyframes pixel--z {
    25% {background-color: $clr-light-blue; margin: 35%;}
    50% {background-color: $clr-dark-blue; margin: 10%;}
    75% {background-color: $clr-light-blue; margin: 40%}
    100% {background-color: $clr-dark-blue; margin: 0;}
}