.main-content {
    display: flex;
    flex-flow: column nowrap;
    transition: background 0.3s;

    
    @media (max-width: 1085px) {
        margin: 0;
    }
    
    @media (min-width: 1086px) and (max-width: 1366px){
        margin-left: 7.0rem;
    }
    
    @media (min-width: 1367px) {
        margin-left: 10.0rem;
    }
}
.main-content--newBgOnScroll {
    background-color: rgba(0,0,0,0.4);
}

.main-content__section {
    height: 100vh;
    display: flex;
//    margin: 0 auto;
    align-self: center;
    
    @media (max-width: 1085px) {
        flex-direction: column;
        padding: 2.0rem;
        width: 100%;
    }
    
    @media (min-width: 1085px) and (max-width: 1366px){
        flex-direction: row;
        min-width: 1085px;
        max-width: 1366px;
        
    }
    @media (min-width: 1367px) {
        flex-direction: row;
        min-width: 1366px;
        max-width: 1500px;
    }
}

@mixin section__inner {
    display: flex;
    flex-direction: row;
    flex: 1;
//    height: 100%;
    align-items: center;
    padding: 30px;
}
.section__inner {
    @include section__inner;
}
.section__inner--start {
    @include section__inner;
    
    flex-wrap: wrap;
    align-content: center;
}
.jsHeading--contact {
    display: none;
}
.section__inner--just-center {
    @include section__inner;
    
    justify-content: center;
}
.section__inner--align-top {
    @include section__inner;
    
    align-items: flex-start;
}
.section__inner--align-bottom {
    @include section__inner;
    
    align-items: flex-end;
}
.l-space-holder {
    min-height: 6.0rem;
    margin: 1.6rem 0 1.6rem 0;
}
.section__btns {
    display: flex;
    align-items: center;
}
.form {
    width: 100%;
}
.jsSectionForm {
    display: none;
}
@mixin form__input {
    width: 90%;
    height: 4.0rem;
    margin: 1.0rem 0 1.0rem 0;
    background-color: rgba(0,0,0,0);
    border-bottom: 0.3rem solid $clr-light-blue;
    border-top: none;
    border-right: none;
    border-left: none;
}
.form__input {
    @include form__input;
}
.form__input:focus, .form__input--textarea:focus {
    outline: none;
    border-bottom: 0.3rem solid $clr-orange;
}
.form__input--textarea {
    @include form__input;
    height: auto;
}
@mixin about__image {
    height: 25vh;
    width: 25vh;
    background-repeat: no-repeat;
    background-size: 90%;
    background-position: center;
//    background-color: $clr-dark-blue;
    margin: 50px auto;
    
}
.about__image--creative {
    @include about__image;
    
    background-image: url(../img/brainstorm--thin.svg);
}
.about__image--designer {
    @include about__image;
    
    background-image: url(../img/graphic-tool--thin.svg);
}
.about__image--coder {
    @include about__image;
    
    background-image: url(../img/flowchart--thin.svg);
}
.about__image--music {
    @include about__image;
    
    background-image: url(../img/headphones--thin.svg);
}