.main-content {
    display: flex;
    flex-flow: column nowrap;
    transition: background 0.3s;
    
    @media (max-width: 1085px) {
        margin: 0;
    }
    
    @media (min-width: 1086px) {
        margin-left: 100px;
        
    }
}
.main-content--newBgOnScroll {
    background-color: rgba(0,0,0,0.4);
}

.main-content__section {
    box-sizing: border-box;
    height: 100vh;
    width: 100%;
    display: flex;
    
    @media (max-width: 1085px) {
        flex-direction: column;
        padding: 20px;
    }
    
    @media (min-width: 1086px) {
        flex-direction: row;
        padding: 20px 100px 20px 100px;
        
    }
}

@mixin section__inner {
    display: flex;
    flex-direction: row;
    width: inherit;
    height: inherit;
    align-items: center;
    padding: 30px;
}
.section__inner {
    @include section__inner;
}
.section__inner--start {
    @include section__inner;
    
    flex-wrap: wrap;
    align-content: center;
}

.section__inner--just-center {
    @include section__inner;
    
    justify-content: center;
}
.section__inner--align-top {
    @include section__inner;
    
    align-items: flex-start;
}
.section__inner--align-bottom {
    @include section__inner;
    
    align-items: flex-end;
}
.section__btns {
    display: flex;
    align-items: center;
    margin: 1.6rem 0 1.6rem 0;
}
@mixin about__image {
    height: 25vh;
    width: 25vh;
    background-repeat: no-repeat;
    background-size: 90%;
    background-position: center;
//    background-color: $clr-dark-blue;
    margin: 50px auto;
    
}
.about__image--creative {
    @include about__image;
    
    background-image: url(../img/brainstorm--thin.svg);
}
.about__image--designer {
    @include about__image;
    
    background-image: url(../img/graphic-tool--thin.svg);
}
.about__image--coder {
    @include about__image;
    
    background-image: url(../img/flowchart--thin.svg);
}
.about__image--music {
    @include about__image;
    
    background-image: url(../img/headphones--thin.svg);
}