//sideBar
.sidebar {
    box-sizing: border-box;
    position: fixed;
    top: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    padding: 24px 0 24px 0;
    width: 10.0rem;
    background-color: $clr-sidebar-bg;
    
    
    @media (max-width: 1085px) {
        right: 0;
        align-items: flex-end;
        padding: 0;}
    
    
    @media (min-width: 1086px) {
        left: 0;
        height: 100%;
        align-items: center;
        padding: 24px 0 24px 0;
        }
}

//sidebar logo
.sidebar__logo {

    @media (max-width: 1085px) {
        display: none;}
    
    @media (min-width: 1086px) {
        height: 100%;}   
}
    
.logo__img {
    width: 80px;
    display: none;
}

//sidebar burger
.sidebar__burger {
    
    @media (max-width: 1085px) {
        box-sizing: border-box;
        height: 10.0rem;
        width: 10.0rem;
        padding: 30px;
        background-color: $clr_light_blue;}
    
    @media (min-width: 1086px) {
        display: none;}      
}
.burger__icon--cross {
    
    @media (max-width: 1085px){
        display: none;
    }
}


//sidebar main menu
.sidebar__menu {

    @media (max-width: 1085px) {
        display: none;
        }
    
    @media (min-width: 1086px) {
        height: 100%;
        display: block;
        }
}
.jsSlidingName {
    
    @media (max-width: 1085px) {
        
        }
    
    @media (min-width: 1086px) {
        display: none;
        }
    
}
@mixin sidebar-btn {
    color: white;
    text-decoration: none;
    height: 10.0rem;
    width: 10.0rem;
    display: flex;
    flex-direction: column;
    transition: all 0.1s;
    justify-content: center;
    
}
.sidebar-btn {
    
    @include sidebar-btn;
}
.sidebar-btn--social {
    
    @include sidebar-btn;
    
    height: 5.0rem;
    width: 5.0rem;
}
.sidebar-btn:hover, .sidebar-btn--social:hover {
    color: black;
    background-color: $clr-light-blue;
}
@mixin sidebar-btn__svg {
    width: 3.0rem;
    height: 3.0rem;
    align-self: center;
    margin: 0 0 0.6rem 0;
}

.sidebar-btn__svg {
    
   @include sidebar-btn__svg;
    
}
.sidebar-btn__svg--social {
    
    @include sidebar-btn__svg;
    margin: 0;
}
.sidebar-btn__svg path, .sidebar-btn__svg--social path {
    fill: currentColor;
}
.sidebar-btn__name {
    text-align: center;
    margin: 0.6rem 0 0 0;
}

//sidebar social media
.sidebar__social-media {
    @media (max-width: 1085px) {
        display: none;}
    
    @media (min-width: 1086px) {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;}
}