//sideBar
.sidebar {
    box-sizing: border-box;
    position: fixed;
    top: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: $clr-sidebar-bg;
    z-index: 2;
    width: 10.0rem;
    padding: 2.4rem 0 2.4rem 0;
    
    
    @media (max-width: 1085px) {
        right: 0;
        margin: 2.1rem;
    }
    @media (min-width: 1086px){
        left: 0;
        height: 100%;
        align-items: center;
    }
}
//show elements on scroll
.jsSideBarElmts {
    display: none;
}
//sidebar logo
.sidebar__logo {

    @media (max-width: 1085px) {
        display: none;
    }
    
    @media (min-width: 1086px) {
        height: 100%;
    }

}
    
.logo__img {
    
    width: 8.0rem;
}

//sidebar burger
.sidebar__burger {
    
    @media (max-width: 1085px) {
        box-sizing: border-box;
        height: 10.0rem;
        width: 10.0rem;
        padding: 3.0rem;
        background-color: $clr_light_blue;
        border: none;
    }
    
    @media (min-width: 1086px) {
        display: none;}
    
}
.burger__icon--cross {
    
    @media (max-width: 1085px){
        display: none;
    }
}


//sidebar main menu
.sidebar__menu {

    @media (max-width: 1085px) {
        display: none;
        }
    
    @media (min-width: 1086px) {
        height: 100%;
        display: block;
        }
}
.jsSlidingName {
    
    @media (max-width: 1085px) {
        
        }
    
    @media (min-width: 1086px) {
        display: none;
        }
    
}
@mixin sidebar-btn {
    box-sizing: border-box;
    color: white;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    transition: all 0.1s;
    justify-content: center;
    justify-self: center;
    box-sizing: border-box;
    height: 10.0rem;
    width: 10.0rem;    
}
.sidebar-btn {
    
    @include sidebar-btn;
}
.sidebar-btn:focus {
    border: 0.3rem dotted $clr-dark-blue;
    outline: none;
}
.sidebar-btn:active {
    border: none;
}

.social-btn object:hover {
//    color: red;
//    cursor: pointer;
}


.sidebar-btn:hover {
    color: black;
    background-color: $clr-orange;
}
@mixin sidebar-btn__svg {
    
    align-self: center;
    margin: 0 0 0.6rem 0;
    height: 3.0rem;
    width: 3.0rem;
}

.sidebar-btn__svg {
    
   @include sidebar-btn__svg;
    
}
.sidebar-btn__svg--social {
    
    @include sidebar-btn__svg;
    margin: 0;
}
.sidebar-btn__svg path {
    fill: currentColor;
}
.sidebar-btn__name {
    text-align: center;
    margin: 0.6rem 0 0 0;
}

//sidebar social media
.sidebar__social-media {
    @media (max-width: 1085px) {
        display: none;}
    
    @media (min-width: 1086px) {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;}
}