//COLORS BELLOW 

//First main color used in logo
$clr-light-blue: rgb(0,168,167);

//Second main color used in logo
$clr-dark-blue: rgb(32,103,125);

//Sidebar background color
$clr-sidebar-bg: rgb(0,0,0);

//Body background
$bg-body: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3)) fixed,
    url(../img/bg_pattern.svg) fixed,
    rgb(0, 0, 0);



