.s1 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: uppercase; }

.t1 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  font-weight: 300;
  color: #f0f0f0; }

.t2 {
  font-family: "Roboto", sans-serif;
  font-size: 3.5rem;
  font-weight: 300;
  color: #20677d;
  text-transform: uppercase;
  line-height: 4.0rem; }

.t2--intitle {
  font-family: "Roboto", sans-serif;
  font-size: 3.5rem;
  font-weight: 300;
  color: #20677d;
  text-transform: uppercase;
  line-height: 4.0rem;
  margin: 0; }

.t3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 6.5rem;
  color: white;
  line-height: 7.0rem; }

.t3--intitle {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 6.5rem;
  color: white;
  line-height: 7.0rem;
  margin: 1.5rem 0 1.5rem 0; }

.t3__michael--intitle {
  font-weight: 500;
  color: #00a8a7; }

html {
  font-size: 62.5%;
  margin: 0; }

body {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.3))) fixed, url(../img/bg_pattern.svg) fixed, black;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3)) fixed, url(../img/bg_pattern.svg) fixed, black;
  margin: 0; }

.button {
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
  color: #00a8a7;
  padding: 15px 25px 15px 25px;
  margin: 20px 0 20px 0;
  border: 1px solid #00a8a7;
  background-color: rgba(0, 0, 0, 0);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  cursor: pointer; }

.button:hover {
  background-color: #00a8a7;
  color: black; }

.sidebar {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: fixed;
  top: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 24px 0 24px 0;
  width: 10.0rem;
  background-color: black; }
  @media (max-width: 1085px) {
    .sidebar {
      right: 0;
      -webkit-box-align: end;
          -ms-flex-align: end;
              align-items: flex-end;
      padding: 0; } }
  @media (min-width: 1086px) {
    .sidebar {
      left: 0;
      height: 100%;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      padding: 24px 0 24px 0; } }

@media (max-width: 1085px) {
  .sidebar__logo {
    display: none; } }
@media (min-width: 1086px) {
  .sidebar__logo {
    height: 100%; } }

.logo__img {
  width: 80px;
  display: none; }

@media (max-width: 1085px) {
  .sidebar__burger {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    height: 10.0rem;
    width: 10.0rem;
    padding: 30px;
    background-color: #00a8a7; } }
@media (min-width: 1086px) {
  .sidebar__burger {
    display: none; } }

@media (max-width: 1085px) {
  .burger__icon--cross {
    display: none; } }

@media (max-width: 1085px) {
  .sidebar__menu {
    display: none; } }
@media (min-width: 1086px) {
  .sidebar__menu {
    height: 100%;
    display: block; } }

@media (min-width: 1086px) {
  .jsSlidingName {
    display: none; } }

.sidebar-btn {
  color: white;
  text-decoration: none;
  height: 10.0rem;
  width: 10.0rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.sidebar-btn--social {
  color: white;
  text-decoration: none;
  height: 10.0rem;
  width: 10.0rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 5.0rem;
  width: 5.0rem; }

.sidebar-btn:hover, .sidebar-btn--social:hover {
  color: black;
  background-color: #00a8a7; }

.sidebar-btn__svg {
  width: 3.0rem;
  height: 3.0rem;
  -ms-flex-item-align: center;
      align-self: center;
  margin: 0 0 0.6rem 0; }

.sidebar-btn__svg--social {
  width: 3.0rem;
  height: 3.0rem;
  -ms-flex-item-align: center;
      align-self: center;
  margin: 0 0 0.6rem 0;
  margin: 0; }

.sidebar-btn__svg path, .sidebar-btn__svg--social path {
  fill: currentColor; }

.sidebar-btn__name {
  text-align: center;
  margin: 0.6rem 0 0 0; }

@media (max-width: 1085px) {
  .sidebar__social-media {
    display: none; } }
@media (min-width: 1086px) {
  .sidebar__social-media {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end; } }

.main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-transition: background 0.3s;
  transition: background 0.3s; }
  @media (max-width: 1085px) {
    .main-content {
      margin: 0; } }
  @media (min-width: 1086px) {
    .main-content {
      margin-left: 100px; } }

.main-content--newBgOnScroll {
  background-color: rgba(0, 0, 0, 0.4); }

.main-content__section {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media (max-width: 1085px) {
    .main-content__section {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      padding: 20px; } }
  @media (min-width: 1086px) {
    .main-content__section {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      padding: 20px 100px 20px 100px; } }

.section__inner--start {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.section__inner--left {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.section__inner--right {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.logo__wrapper {
  width: 80%; }

.logo__ratio {
  padding-top: 75%;
  position: relative;
  width: 100%; }

.logo__inner {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  -webkit-transform: skewY(15deg);
          transform: skewY(15deg); }

.logo__pixel--a {
  background-color: #20677d; }

.logo__pixel--m {
  @inclide logo__pixel;
  background-color: #00a8a7; }

.logo__pixel--b {
  background-color: #20677d; }

.logo__pixel--z {
  background-color: #00a8a7; }

/*# sourceMappingURL=main.css.map */