@import 'variables';
@import 'typography';

html {
    font-size: 62.5%;
    margin: 0;
}
body {
    background: $bg-body;
    margin: 0;
}

@import 'sidebar';
@import 'maincontent';
@import 'buttons';
@import 'logo';