@import 'variables';
@import 'typography';

html {
    margin: 0;
    
    @media (max-width: 1085px){
        font-size: 43.75%;
    }
    
    @media (min-width: 1086px) and (max-width: 1366px) {
        font-size: 50.0%;
    }
    
    @media (min-width: 1367px) {
        font-size: 62.5%;
    }
}
body {
    background: $bg-body;
    margin: 0;
}

@import 'sidebar';
@import 'maincontent';
@import 'buttons';
@import 'logo';