.s1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.2rem; }

.t1 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  font-weight: 300;
  color: #f0f0f0; }

.t2 {
  font-family: "Roboto", sans-serif;
  font-size: 3.5rem;
  font-weight: 300;
  color: #20677d;
  text-transform: uppercase; }

.t2--intitle {
  font-family: "Roboto", sans-serif;
  font-size: 3.5rem;
  font-weight: 300;
  color: #20677d;
  text-transform: uppercase;
  display: block;
  width: 100%;
  margin: 1.0rem 0 1.0rem 0; }

.t3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 6.5rem;
  color: white; }

.t3--intitle {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 6.5rem;
  color: white;
  margin: 1.0rem 0 1.0rem 0;
  display: block;
  width: 100%; }

.t3__michael--intitle {
  font-weight: 500;
  color: #00a8a7; }

html {
  margin: 0; }
  @media (max-width: 1085px) {
    html {
      font-size: 43.75%; } }
  @media (min-width: 1086px) and (max-width: 1366px) {
    html {
      font-size: 50.0%; } }
  @media (min-width: 1367px) {
    html {
      font-size: 62.5%; } }

body {
  background-image: url(../img/bg-4k--grad.png);
  background-repeat: repeat;
  background-color: #b4b4b4;
  margin: 0; }

.sidebar {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: fixed;
  top: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: black;
  z-index: 2;
  width: 10.0rem; }
  @media (max-width: 1085px) {
    .sidebar {
      right: 0;
      margin: 2.1rem; } }
  @media (min-width: 1086px) {
    .sidebar {
      left: 0;
      height: 100%;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      padding: 2.4rem 0 2.4rem 0; } }

@media (max-width: 1085px) {
  .sidebar__logo {
    display: none; } }
@media (min-width: 1086px) {
  .sidebar__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -ms-flex-line-pack: start;
        align-content: flex-start; } }

.logo__svg {
  width: 100%;
  height: 5.39rem; }

@media (max-width: 1085px) {
  .sidebar__burger {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    height: 10.0rem;
    width: 10.0rem;
    padding: 3.0rem;
    background-color: #00a8a7;
    border: none; } }
@media (min-width: 1086px) {
  .sidebar__burger {
    display: none; } }

@media (max-width: 1085px) {
  .burger__icon--cross {
    display: none; } }

@media (max-width: 1085px) {
  .sidebar__menu {
    display: none; } }
@media (min-width: 1086px) {
  .sidebar__menu {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1; } }

@media (min-width: 1086px) {
  .jsSlidingName {
    visibility: hidden;
    opacity: 0;
    height: 0rem;
    overflow: hidden;
    -webkit-transition: height 0.2s, opacity 0.3s, visibility 0.3s;
    transition: height 0.2s, opacity 0.3s, visibility 0.3s; } }

@media (min-width: 1086px) {
  .jsSlidingName--visible {
    visibility: visible;
    opacity: 1;
    height: 1.2rem; } }

.sidebar-btn {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-self: center;
  box-sizing: border-box;
  height: 10.0rem;
  width: 10.0rem;
  color: #c8c8c8; }

.sidebar-btn--active {
  color: white; }

.sidebar-btn:focus {
  border: 0.3rem dotted #20677d;
  outline: none; }

.sidebar-btn:active {
  border: none; }

.sidebar-btn:hover {
  color: #f0554d; }

.sidebar-btn__svg {
  -ms-flex-item-align: center;
      align-self: center;
  margin: 0 0 0.6rem 0;
  width: 3.0rem;
  height: 3.0rem; }

.sidebar-btn__svg--social {
  -ms-flex-item-align: center;
      align-self: center;
  margin: 0 0 0.6rem 0;
  width: 3.0rem;
  height: 3.0rem;
  margin: 0; }

.sidebar-btn__svg path {
  fill: currentColor; }

.sidebar-btn__name {
  text-align: center;
  margin: 0.6rem 0 0 0; }

@media (max-width: 1085px) {
  .sidebar__social-media {
    display: none; } }
@media (min-width: 1086px) {
  .sidebar__social-media {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end; } }

.jsShowHideOnScroll {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s; }

.jsShowHideOnScroll--visible {
  visibility: visible;
  opacity: 1;
  -webkit-transition: all 0.3s;
  transition: all 0.3s; }

.main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  @media (max-width: 1085px) {
    .main-content {
      margin: 0; } }
  @media (min-width: 1086px) {
    .main-content {
      padding-left: 10.0rem; } }

.jsSwichBg--turquoise {
  background-color: rgba(0, 168, 167, 0.2); }

.main-content__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  @media (max-width: 640px) {
    .main-content__section {
      -webkit-box-orient: vertical;
      -webkit-box-direction: reverse;
          -ms-flex-direction: column-reverse;
              flex-direction: column-reverse;
      width: 100%; } }
  @media (min-width: 641px) and (max-width: 1085px) {
    .main-content__section {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      width: 95%; } }
  @media (min-width: 1086px) and (max-width: 1366px) {
    .main-content__section {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      width: 90%; } }
  @media (min-width: 1367px) {
    .main-content__section {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      width: 85%;
      max-width: 1500px; } }

.main-content__section--start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  @media (max-width: 640px) {
    .main-content__section--start {
      -webkit-box-orient: vertical;
      -webkit-box-direction: reverse;
          -ms-flex-direction: column-reverse;
              flex-direction: column-reverse;
      width: 100%; } }
  @media (min-width: 641px) and (max-width: 1085px) {
    .main-content__section--start {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      width: 95%; } }
  @media (min-width: 1086px) and (max-width: 1366px) {
    .main-content__section--start {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      width: 90%; } }
  @media (min-width: 1367px) {
    .main-content__section--start {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      width: 85%;
      max-width: 1500px; } }

.main-content__section--about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap; }
  @media (max-width: 640px) {
    .main-content__section--about {
      -webkit-box-orient: vertical;
      -webkit-box-direction: reverse;
          -ms-flex-direction: column-reverse;
              flex-direction: column-reverse;
      width: 100%; } }
  @media (min-width: 641px) and (max-width: 1085px) {
    .main-content__section--about {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      width: 95%; } }
  @media (min-width: 1086px) and (max-width: 1366px) {
    .main-content__section--about {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      width: 90%; } }
  @media (min-width: 1367px) {
    .main-content__section--about {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      width: 85%;
      max-width: 1500px; } }

.section__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 2%; }

.section__inner--about--odd {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 2%;
  -webkit-transform: translate3d(0, -25vh, 0);
          transform: translate3d(0, -25vh, 0); }

.section__inner--about--even {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 2%;
  -webkit-transform: translate3d(0, 25vh, 0);
          transform: translate3d(0, 25vh, 0); }

.jsHeading--contact {
  display: none; }

.l-space-holder {
  min-height: 6.0rem;
  margin: 1.6rem 0 1.6rem 0; }

.section__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.form {
  width: 100%; }

.jsSectionForm {
  display: none; }

.form__input {
  width: 90%;
  height: 4.0rem;
  margin: 1.0rem 0 1.0rem 0;
  background-color: rgba(0, 0, 0, 0);
  border-bottom: 0.3rem solid #00a8a7;
  border-top: none;
  border-right: none;
  border-left: none; }

.form__input:focus, .form__input--textarea:focus {
  outline: none;
  border-bottom: 0.3rem solid #f0554d; }

.form__input--textarea {
  width: 90%;
  height: 4.0rem;
  margin: 1.0rem 0 1.0rem 0;
  background-color: rgba(0, 0, 0, 0);
  border-bottom: 0.3rem solid #00a8a7;
  border-top: none;
  border-right: none;
  border-left: none;
  height: auto; }

.about__image {
  color: #00a8a7;
  width: 100%;
  height: 200px; }

.about__image--display {
  color: #00a8a7;
  width: 100%;
  height: 200px;
  display: block; }

a:focus {
  outline: 0.3rem dotted #20677d;
  outline-offset: 0.3rem; }

.btn {
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  line-height: 1.6rem;
  font-weight: 800;
  color: white;
  padding: 2.0rem 3.0rem 2.0rem 3.0rem;
  border: 0.2rem solid #00a8a7;
  background-color: rgba(0, 0, 0, 0);
  -webkit-transition: background 0.3s, border 0.3s;
  transition: background 0.3s, border 0.3s;
  cursor: pointer; }

.btn:hover {
  background-color: #f0554d;
  border: 0.2rem solid black;
  color: black; }

.btn:focus {
  outline: 0.3rem dotted #20677d;
  outline-offset: 0.1rem; }

.btn:active {
  outline: none;
  background-color: #f0554d; }

.l-btn {
  margin-right: 1.5rem; }

.social-icons {
  width: 2.5rem;
  height: 2.5rem; }

.btn-social {
  display: inline-block;
  color: #b4b4b4;
  -webkit-transition: color 0.3s;
  transition: color 0.3s; }

.btn-social:hover {
  color: #f0554d; }

.l-btn-wrap {
  margin: 1.5rem; }

.svg {
  display: none;
  width: 0;
  height: 0; }

.svg__symbol * {
  fill: currentColor; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.logo__wrapper {
  -webkit-transform: skewY(15deg);
          transform: skewY(15deg); }
  @media (max-width: 1085px) {
    .logo__wrapper {
      width: 50%; } }
  @media (min-width: 1085px) {
    .logo__wrapper {
      width: 85%; } }

.logo__ratio {
  padding-top: 75%;
  position: relative;
  width: 100%; }

.logo__inner {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap; }

.logo__pixel {
  width: 8.32%;
  height: 12.5%;
  background-clip: content-box;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

@-webkit-keyframes pixel--a-b {
  0% {
    background-color: #20677d;
    padding: 4%; }
  15% {
    background-color: #00a8a7;
    padding: 1.5%; }
  45% {
    background-color: #20677d;
    padding: 4%; }
  75% {
    background-color: #00a8a7;
    padding: 0%; }
  100% {
    background-color: #20677d;
    padding: 0%; } }

@keyframes pixel--a-b {
  0% {
    background-color: #20677d;
    padding: 4%; }
  15% {
    background-color: #00a8a7;
    padding: 1.5%; }
  45% {
    background-color: #20677d;
    padding: 4%; }
  75% {
    background-color: #00a8a7;
    padding: 0%; }
  100% {
    background-color: #20677d;
    padding: 0%; } }
@-webkit-keyframes pixel--m-z {
  0% {
    background-color: #20677d;
    padding: 4%; }
  25% {
    background-color: #20677d;
    padding: 1.5%; }
  45% {
    background-color: #00a8a7;
    padding: 4%; }
  75% {
    background-color: #20677d;
    padding: 0%; }
  100% {
    background-color: #00a8a7;
    padding: 0%; } }
@keyframes pixel--m-z {
  0% {
    background-color: #20677d;
    padding: 4%; }
  25% {
    background-color: #20677d;
    padding: 1.5%; }
  45% {
    background-color: #00a8a7;
    padding: 4%; }
  75% {
    background-color: #20677d;
    padding: 0%; }
  100% {
    background-color: #00a8a7;
    padding: 0%; } }
.logo__pixel--a {
  width: 8.32%;
  height: 12.5%;
  background-clip: content-box;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-animation-name: pixel--a-b;
          animation-name: pixel--a-b;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out; }

.logo__pixel--m {
  width: 8.32%;
  height: 12.5%;
  background-clip: content-box;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-animation-name: pixel--m-z;
          animation-name: pixel--m-z;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out; }

.logo__pixel--b {
  width: 8.32%;
  height: 12.5%;
  background-clip: content-box;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-animation-name: pixel--a-b;
          animation-name: pixel--a-b;
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
  -webkit-animation-duration: 2.1s;
          animation-duration: 2.1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out; }

.logo__pixel--z {
  width: 8.32%;
  height: 12.5%;
  background-clip: content-box;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-animation-name: pixel--m-z;
          animation-name: pixel--m-z;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
  -webkit-animation-duration: 2.1s;
          animation-duration: 2.1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out; }

/*# sourceMappingURL=main.css.map */