//COLORS BELLOW 

//First main color used in logo
$clr-light-blue: rgb(0,168,167);

//Second main color used in logo
$clr-dark-blue: rgb(32,103,125);

//Third color - orange
$clr-orange: rgb(240,85,77);

//o.5 orange
$clr-dark-orange: rgba(240,85,77,0.5);

//icons default
$clr-icons: rgb(200,200,200);

//social icons
$clr-icons--social: rgb(180,180,180);
//Sidebar background color
$clr-sidebar-bg: rgb(0,0,0);

//Body background
//$bg-body: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.3)) fixed,
//    url(../img/mb-pattern2.svg) fixed,
//    rgb(0, 0, 0);




