* {
    box-sizing: border-box;
}
body {
    font-family: Verdana;
    margin: 0;
}
header {
    width: 100%;
    color: white;
    background-position: center;
}
header h1 {
    text-transform: uppercase;
}
header h1:nth-child(2) {
    font-size: 3em;
}
#tlo img {
    visibility: hidden;
    width: 100%;
}