@media all and (max-width : 1200px){
    .toggle {
        display: block;
        padding: 20px;
        border: none;
        text-align: right;
        font-family: 'Roboto', sans-serif;
        color: rgb(26, 192, 86);
        font-weight: 500;
    }
    nav {
        padding: 5px 5vw 5px 5vw;
    }
    nav ul {
        display: none;  
    }
    nav, #drop:checked + ul {
        display: block;
    }
    nav ul li {
        display: block;
        width: 100%;
        padding: 20px;
        text-align: right;
    }
    header div h1 {
        padding: 200px 5vw 0 5vw;    
    }
    .art {
        padding: 0 5vw 0 5vw;
    }
    .footek {
        padding-left: 5vw;
        padding-right: 5vw;
    }
    
    .about p {
        width: 100%;
        margin: 20px;
    }
    #art-photo {
        width: 100%;
    }
    
    .flex {
        flex-direction: column;
    }
    .port {
        width: 50%;
    }
    .port:last-child {
        width: 100%;
    }
}
@media all and (max-width: 768px){
    .port {
        width: 100%;
    }

    .fig-item {
        width: 49%;
    }
}
@media all and (max-width : 680px){

}
@media all and (max-width : 480px){
}