*{
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    background-image: url(../img/bg900.png);
    font-size: 15px;
    background-attachment: fixed;
/*    background-size: 80px 138px;*/
    color: rgb(240,240,241);
}

/* BLACK STRIPE*/

.embe-blackStripe {
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    background-color: rgb(0,0,0);
}
@media (max-width: 735px) {
    .embe-mainMenu {
        flex-direction: column;
        width: 120px;
        height: 100%;
        top: 0;
        right: 0;
    }
}
@media (min-width: 736px) and (max-width: 1085px){ 
    .embe-blackStripe {
        flex-direction: row;
        height: 120px;
        width: 100%;
        top: 0;
        left: 0;
    }
}
@media (min-width: 1086px) {
    .embe-blackStripe {
        flex-direction: column;
        width: 80px;
        height: 100%;
        top: 0;
        left: 0;
    }
}

/*MAIN MENU*/
.embe-mainMenu {
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
}
.embe-mainMenu img {
    margin-bottom: 60px;
    margin-top: 60px;
}
@media (min-width: 1086px) {
    .embe-mainMenu {
        flex-direction: column;
    }
}
@media (min-width: 736px) and (max-width: 1085px){ 
    .embe-mainMenu {
        flex-direction: row;
        margin-left: auto;
    }
}
/*MAIN MENU ITEM*/
.embe-mainMenuItem {
    color: rgb(130,130,130);
    text-decoration: none;
    height: 120px;
    transition: color 0.3s;
}
@media (min-width: 736px) and (max-width: 1085px){ 
    .embe-mainMenuItem {
        margin-right: 20px;
        height: 80px;
    }
}
.embe-mainMenuItem-mouseenter {
    color: white;
    margin-left: -90px;
}
.embe-mainMenuItem i {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    font-size: 30px;
    border-radius: 50% 50%;
/*    border: 1px solid rgb(100,100,100);*/
    transition: all 0.3s;
    

}
@media (min-width: 736px) and (max-width: 1085px){ 
    .embe-mainMenuItem i{
        width: 60px;
        height: 60px;
        font-size: 20px;
        
    }
}
.embe-mainMenuItem i:hover{
    transform: skewY(18deg);
    color: rgb(24,205,205);
/*    border: 1px solid rgb(24,205,202);*/
    
}
.embe-menuItemName {
    text-align: center;
    font-size: 15px;
    margin: 3px;
    color: rgb(255,255,255);
}

/*LOGO ZONE*/
.embe-logo {
    font-size: 30px;
    color: rgb(255,0,76);
    font-family: 'Pacifico', cursive;
    align-self: flex-start;
}

.embe-logo h1 {
    width: 150px;
    height: 14px;
    background-color: rgb(20,162,204);
    margin: 0;
    text-align: center;
}
@media (min-width: 736px) and (max-width: 1085px) {
    .embe-logo h1 {
        
    } 
}

/*MAIN CONTENT*/
.allContent {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100vh;
    grid-gap: 30px 30px;
    padding: 0 30px 30px 30px;
}

@media (max-width: 735px) {
    .allContent {
        margin-right: 120px;
    }
}
@media (min-width: 736px) and (max-width: 1085px){ 
    .allContent {
        margin-top: 120px;
    }
}
@media (min-width: 1086px) {
    .allContent {
        margin-left: 130px;
        margin-right: 130px;
    }
}
/*SECTIONS*/
/*
.embe-sections {
    height: 100vh;
}
*/
#embe-sectionHome {
    grid-column: 1/2;
    grid-row: 1/2;
    align-self: center;
    justify-self: left;
}

#embe-logSec {
    grid-column: 2/3;
    grid-row: 1/2;
    justify-self: center;
    align-self: center;
/*
    width: 100%;
    height: 100%;
    padding: 20px;
    background-image: url(../img/mb-logo6.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;
*/
    
}
section img {
    float: left;
    margin: 0 30px 20px 0;
}

section h1 {
    font-size: 60px;
    margin: 0;
    font-weight: 400;
    color: rgb(255,255,255);
    font-family: 'Montserrat', sans-serif;
}
h1 span {
    color: rgb(255,255,255);
    font-weight: 900;
}
section h2 {
    text-transform: uppercase;
    margin: 0;
    font-weight: 300;
    font-size: 32px;
    color: rgb(27,85,103);
    font-family: 'Roboto', sans-serif;
}
#sp1{
    color: rgb(0,113,112);
    font-weight: 800;
}
#sp2{
    background-color: rgb(0,113,112);
    color: rgb(27,85,103);
    font-weight: 800;
    display: inline-block;
    height: 46px;
    line-height: 46px;
}
#embe-sectionHome div {
    padding: 8px 25px 8px 25px;
    border: 2px solid rgb(0,113,112);
    color: rgb(0,113,112);
    margin-top: 20px;
    text-align: center;
    font-size: 15px;
    text-transform: uppercase;
    width: -moz-max-content;
    color: rgb(240,240,241);
}
#embe-sectionHome div:hover {
    animation-name: baton;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
}
@keyframes baton {
    0%   {border: 1px solid rgb(255,83,73);}
    100%  {border: 1px solid rgb(255,255,255);}
}
/*
#embe-sectionAbout {
    grid-column: 1/2;
    grid-row: 2/3;
}
#embe-sectionSkills {
    grid-column: 2/3;
    grid-row: 3/4;
}
#embe-sectionProjects {
    grid-column: 1/2;
    grid-row: 4/5;
}
#embe-sectionContact {
    grid-column: 2/3;
    grid-row: 5/6;
}
*/

